/* DARK LIGHT START*/
#mode-btn {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    z-index: 10;
    background-color: #F53838;
    transition: 1s;
}

.light #navbar-responsive *,
.light #navbar-responsive,
.light .home__card,
.light .home__card *,
.light .owl-carousel .owl-card *,
.light .owl-carousel .owl-card,
.light .subscribe,
.light .subscribe * {
    background-color: #333;
}

.light .navbar-link {
    color: #8B8E99;
}


.light img {
    background-color: transparent;
}

.light *,
.light #footer *,
.light #footer,
.light #plan * {
    background-color: black;
}

.light * {
    color: white !important;
}

.light .home__card {
    border: none;
}

.light .owl-carousel,
.light .subscribe button
 {
    background-color: red;
}

/* DARK LIGHT END */