#backtop {
    position: fixed;
    background-color: #F53855;
    bottom: -60px;
    right: -20px;
    border-radius: 50px;
    transition: 0.5s;
    z-index: 50;
}

#backtop.backtop-show {
    bottom: 60px;
    right: 20px;
}